@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500');

body{
    font-family: Arial, Helvetica, sans-serif;
}

.carousel-item{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/images/products.jpg);
    height: 100vh;
    background-size: 100% 100%;
}

.card{
    border: none;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.3s linear;
}

.cards-container{
    margin-bottom: 6rem;
}

.card-title, h1{
    font-family: gd-sage,"Times","Times New Roman",serif;
}

.card{
    box-shadow: 0 0 12px rgb(0,0,0,0.3);
}

